default_stages:
  - pre-commit
  - post-merge
repos:
  - repo: https://github.com/netromdk/vermin
    rev: v1.8.0
    hooks:
      - id: vermin
        args: ["src"] # other configs are in vermin.conf
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      # linter
      - id: ruff-check
      # formatter
      - id: ruff-format
        args: ["--verbose"]
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.11.0
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages:
          - pre-push

